.product
  +left-menu(leftMenu_Fireplaces)
  .product__container
    .product__info

      -
        var productImages = [
          "assets/images/slider-products/product-1.png",
          "assets/images/slider-products/product-1.png",
          "assets/images/slider-products/product-1.png",
          "assets/images/slider-products/product-1.png",
          "assets/images/slider-products/product-1.png"
        ]

      .product__info-sliders
        +slider_img(productImages, "main", true)
        .product__info-slider
          +slider_img(productImages, "thumb")
          .product__info-hidden.js__slider-img-zoom
            p.product__info-hidden-number.js__slider-hidden-count +1

      form.product__info-form
        .product__text-box
          p.product__text.product__text--vendor-code Артикул: 3242526
          p.product__text.product__text--highlight В наличии
          p.product__text.product__text--weak.product__text--price 160 490
          p.product__text.product__text--price.product__text--price-highlight 160 490

        -
          var details = [
            {
              header: "Марка стали",
              name: "brand",
              items: [{
                value: "economy430",
                text: "Эконом 430"
              },
                {
                  value: "optimul304",
                  text: "Оптимул 304"
                },
                {
                  value: "elit321",
                  text: "Элит 321"
                }
              ]
            },
            {
              header: "Длина дымохода",
              name: "length",
              items: [{
                value: "1000",
                text: "1000 мм"
              },
                {
                  value: "500",
                  text: "500 мм"
                },
                {
                  value: "250",
                  text: "250 мм"
                }
              ]
            }
          ]

        .product__detail-box
          each detail in details
            .product__detail
              p.product__detail-header= detail.header
              .product__detail-items
                each item, index in detail.items
                  label.product__detail-label
                    input.product__detail-radio(type="radio" name=detail.name value=item.value id=detail.name + " " + item.value checked=(index == 0))
                    span.product__detail-checkmark
                    span.product__detail-text= item.text

        p.product__text.product__text--bold Количество
        .product__text-box.product__text-box--hidden
          p.product__text.product__text--weak.product__text--price 160 490
          p.product__text.product__text--price.product__text--price-highlight 160 490
        .product__item-box.product__item-box--column
          .product__item-box
            .product__item-box.product__item-box--icons
              button.product__icon-button.product__text.product__text--icon.js__product-plus-count(type="button") +
              .icon-line__button.icon-line__button--light.product__button.product__button--number
                input.product__text.product__text--number.js__product-count(type="number" name="count" value="1")
              button.product__icon-button.product__text.product__text--icon.js__product-minus-count(type="button") -
            .product__item-box.product__item-box--icons
              button.icon-line__button.icon-line__button--light.product__button.product__button--favorites.js__product-button-icon(type="button")
                .product__icon.product__icon--favorites
              button.icon-line__button.icon-line__button--light.product__button.product__button--comparison.js__product-button-icon(type="button")
                .product__icon.product__icon--comparison
                .icon-line__button-circle-count.product__button--count
                  p.icon-line__button-count-text 1
                .product__tooltip
                  a.product__tooltip-link(href="#") Перейти к сравнению

          .product__buttons-box
            button.button.button--main-color.product__button.product__button--main(type="button") В корзину
            button.button.button--secondary-color.product__button.product__button--second(type="button") купить в 1 клик

    .product__tabs
      .product__tabs-wrapper
        ul.product__tabs-list
          li.product__tabs-item
            button.product__tabs-btn.active(type="button" data-tabs-path="description") Описание
          li.product__tabs-item
            button.product__tabs-btn(type="button" data-tabs-path="characteristic") Характеристики
          li.product__tabs-item
            button.product__tabs-btn(type="button" data-tabs-path="payment") Оплата и доставка
          li.product__tabs-item
            button.product__tabs-btn(type="button" data-tabs-path="reviews") Отзывы

      .product__tabs-content.active(data-tabs-target="description")
        p.text.product__tabs-text Каминная облицовка Damask EW90C изготовлена из колотого песчаника и полированного мрамора Emperador.
          |  Данная модель устанавливается в угол. Подходит под любые каминные топки 700ой серии, но на заказ может быть изготовлена под любую топку. Свяжитесь с нами для уточнения деталей заказа.
          |  Верхняя балка сделана также из полированного мрамора Emperador.
        p.text.product__tabs-text Каминная облицовка Damask EW90C изготовлена из колотого песчаника и полированного мрамора Emperador.
          |  Данная модель устанавливается в угол. Подходит под любые каминные топки 700ой серии, но на заказ может быть изготовлена под любую топку. Свяжитесь с нами для уточнения деталей заказа.
          |  Верхняя балка сделана также из полированного мрамора Emperador.
        p.text.product__tabs-text Каминная облицовка Damask EW90C изготовлена из колотого песчаника и полированного мрамора Emperador.
          |  Данная модель устанавливается в угол. Подходит под любые каминные топки 700ой серии, но на заказ может быть изготовлена под любую топку. Свяжитесь с нами для уточнения деталей заказа.
          |  Верхняя балка сделана также из полированного мрамора Emperador.

      .product__tabs-content(data-tabs-target="characteristic")
        -
          var charasteristics = [
            {
              title: "Бренд",
              value: "Stimlex"
            },
            {
              title: "Страна",
              value: "Украина"
            },
            {
              title: "Гарантия",
              value: "1 год"
            },
            {
              title: "Размеры, мм",
              value: "1020х1710х1000"
            },
            {
              title: "Масса, кг",
              value: "330"
            },
            {
              title: "Балка",
              value: "из камня"
            },
            {
              title: "Серия",
              value: "700"
            },
            {
              title: "Расположение (облицовки)",
              value: "угловая"
            },
            {
              title: "Материал облицовки",
              value: "из натурального камня"
            }
          ]

        each char in charasteristics
          .product__char-box
            p.text.product__char-text= char.title
            span.product__char-dots
            p.text.product__char-text= char.value

      .product__tabs-content(data-tabs-target="payment")
        p.text.product__tabs-text
          | Самостоятельно забрать товар вы можете из любого нашего из любого из наших магазинов. Адреса магазинов указаны <span><a class="text product__tabs-text product__tabs-text--highlight" href="#">тут.<a></span>
          | При оформлении заказа выбирайте способ приобретения товара «самовывоз», далее указывайте удобный вам магазин. Заказ будет передан в указанный вами пункт, и в короткое время наш сотрудник свяжется с вами для уточнения деталей. При оформлении заказа выбирайте способ приобретения товара «самовывоз», далее указывайте удобный вам магазин. Заказ будет передан в указанный вами пункт, и в короткое время наш сотрудник свяжется с вами для уточнения деталей. При оформлении заказа выбирайте способ приобретения товара «самовывоз», далее указывайте удобный вам магазин. Заказ будет передан в указанный вами пункт, и в короткое время наш сотрудник свяжется с вами для уточнения деталей.
          | Возможна доставка покупки на любую сумму.
          | Услуга предоставляется с понедельника по пятницу с 11 до 18 часов*, оформляется минимум на день вперед. Водитель звонит за 2 часа до доставки
          | Подробнее об условиях читайте в разделе <span><a class="text product__tabs-text product__tabs-text--highlight" href="#">“Доставка и оплата”.</a></span>

      .product__tabs-content(data-tabs-target="reviews")
        form.product__reviews-form
          .product__reviews-form-box
            .product__reviews-form-box.product__reviews-form-box--inputs
              input.input.input--review(type="text", placeholder="Ваше имя")
              input.input.input--review(type="text", placeholder="Ваш email")
            textarea.textarea(placeholder="Текст отзыва")
            input.input.input--photo(placeholder="Ваше фото")
          button.button.button--main-color.product__reviews-submit(type="submit") Оставить заявку

        -
          var reviews = [{
            name: "Иванова Ольга",
            src: "assets/images/slider-reviews/human-1.png",
            date: "20.05.2020",
            review: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          },
            {
              name: "Иванова Ольга",
              src: "assets/images/slider-reviews/human-1.png",
              date: "20.05.2020",
              review: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            },
            {
              name: "Иванова Ольга",
              src: "assets/images/slider-reviews/human-1.png",
              date: "20.05.2020",
              review: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            },
            {
              name: "Иванова Ольга",
              src: "assets/images/slider-reviews/human-1.png",
              date: "20.05.2020",
              review: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            }
          ]

        .product__reviews
          each review in reviews
            .product__reviews-box
              .product__reviews-box.product__reviews-box--line
                .product__reviews-box.product__reviews-box--line
                  img.image-circle(src= review.src, alt= review.name)
                  p.product__reviews-text.product__reviews-text--header= review.name
                p.product__reviews-text.product__reviews-text--date= review.date
              p.product__reviews-text.text.product__reviews-text--content= review.review

    +bestsellers("С этим товаром покупают")
