extends ../layouts/default
include ../helpers/general-mixins
include ../helpers/index-mixins

block variables
  include ../variables/index-var.pug

block content
  section.start
    .container-fluid
      .start__inner
        .start__content
          .start__content-discount
            p.start__discount-title Скидка
              span.start__discount-title.start__discount-title--highlight  3%
            p.start__discount-sub-title на дымоход
            p.start__discount-note.start__discount-note-sign
              span.start__discount-note.start__discount-note--black-highlight *
              |  при покупке комплекта от
              span.start__discount-note.start__discount-note--highlight  10 000
          .price-container.start__content-price
            p.price-container__price-new.start__price-new 16 490
            p.price-container__price-old.start__price-old 16 490
          .start__content-buttons
            button.button.button--main-color В каталог
            button.button.button--secondary-color Монтаж
        .start__img-container
          svg.img-absolute.start__img-blob-1
            use(xlink:href= images.blob1)
          svg.img-absolute.start__img-dots.start__img-dots--one
            use(xlink:href= images.dots)
          svg.img-absolute.start__img-dots.start__img-dots--two
            use(xlink:href= images.dots)
          svg.img-absolute.start__img-triangle.start__img-triangle--one
            use(xlink:href= images.triangle)
          svg.img-absolute.start__img-triangle.start__img-triangle--two
            use(xlink:href= images.triangle)
          .img-absolute.start__img-pipes-1
          .img-absolute.start__img-pipes-2

  section.bestsellers
    .container
      .bestsellers__header
        h1.title-overline Хиты продаж
        +arrows("arrowsBestsellers")

      //bestsellers_products определен в index-var
      .bestsellers__slider
        each product in bestsellers_products
          +product_slider(product)

  section.projects
    .container
      .projects__inner
        .projects__img-container
          .projects__slider

            //слайдер не дублируется - отдельный компонент (не миксин)
            //projects_products определен в index-var
            each product in projects_products
              .projects__slide-container
                img.projects__img(src= product.src)
              p.projects__text-header= product.name
              .projects__product-param
                p.text.text--weak-highlight.projects__text-param-name Диаметр
                .border-bottom-text
                p.text.text--two-highlight.projects__text-param-desc= product.diameter
              .projects__product-param
                p.text.text--weak-highlight.projects__text-param-name Сталь
                .border-bottom-text
                p.text.text--three-highlight.projects__text-param-desc= product.steel
              p.projects__text-content= product.description

          +background_image("background-img__background-circle--one")

        .projects__content-container
          h2.title Выполненные
            span.title.text--two-highlight проекты
          p.text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempo
          +arrows("arrowsProjects")

  section.cost-calculation
    .container
      .cost-calculation__inner
        .cost-calculation__content-container
          h2.title
            span.title.text--price-highlight самостоятельный
            | расчёт стоимости дымохода
          p.text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempo
          p.text Для расчета стоимости пройдите тест за
            span.text.text--one-highlight 1 минуту
          input.button.button--main-color(value= "рассчитать стоимость")
        .cost-calculation__img-container
          //todo: картинка для раздела рассчитать стоимость

  section.benefits
    .container
      .benefits__inner
        .list-with-img.benefits__list-with-img
          .list-with-img__box
            img.list-with-img__img
            .list-with-img__text-box
              h3.small-title Бесплатная консультация
              p.text
                | Позвонить нам, чтобы получить бесплатную консультацию,
                | на крепёж, стыковку элементов и «вертикальность»
          .list-with-img__box
            img.list-with-img__img
            .list-with-img__text-box
              h3.small-title Большой опыт
              p.text
                | У нас большой опыт установки, монтажа, убедитесь
                | в этом прочитав отзывы и посмотрите фотографии наших работ
        .list-with-img.benefits__list-with-img
          .list-with-img__box
            img.list-with-img__img
            .list-with-img__text-box
              h3.small-title Бесплатный просчёт
              p.text
                | Оставьте заявку или перезвоните нам на расчёт
                | стоимости монтажа для дома, бани или котельной.
          .list-with-img__box
            img.list-with-img__img
            .list-with-img__text-box
              h3.small-title Чистка дымохода
              p.text
                | Мы производим чистку дымохода с применением
                | современной профессиональной технологии.

  section.measurement
    .container
      .measurement__inner

        +background_image("background-img__background-circle--two")

        .measurement__content
          .measurement__img-container
            //todo: картинка для раздела замер
          .measurement__part-container
            h2.title Заказать выезд инженера
              span.title.text--price-highlight на замер
            p.text Оставьте заявку по телефону
              span.text.text--three-highlight +7 (812) 509-29-36
            p.text
              | Наш инженер-проектировщик приедет в удобное для Вас
              | время, поможет с выбором места установки печи или котла
              | и осуществит замер для Вашего дымохода

        +form_order("И получите полную смету требуемых изделий и монтажных работ")

  section.installation
    .container
      .installation__inner
        .installation__text-container
          .installation__text-content
            p.text
              | Правильная установка очень важна, от этого зависит
              | не только красота но и ваша безопасность. Не
              | профессиональная установка газоотводящей системы несёт
              | большую опасность возникновения пожаров и отравление
              | угарным газом.
            p.text
              | В
              span.text.text--one-highlight Дымоход ру.
              | работают профессионалы с большим опытом работы,
              | они ежегодно проходят курсы повышения квалификации
            p.text
              | #[strong Все работы проводим качественно, аккуратно, и на совесть]
          .installation__img-container
            //todo: картинка для раздела установка

        .installation__items-container
          .list-with-img.installation__list-with-img
            .list-with-img__box
              img.list-with-img__img
              .list-with-img__text-box
                h3.small-title Доступные цены
                p.text
                  | Мы предлагаем нашу продукцию, услуги по доступным
                  | ценам и отличного качества
            .list-with-img__box
              img.list-with-img__img
              .list-with-img__text-box
                h3.small-title Установка
                p.text
                  | Устанавливаем дымоходы, камины, печи, котлы
                  | всех производителей
            .list-with-img__box
              img.list-with-img__img
              .list-with-img__text-box
                h3.small-title Профессионализм
                p.text
                  | Квалифицированные специалисты. Работаем чисто,
                  | аккуратно, убираем за собой
            .list-with-img__box
              img.list-with-img__img
              .list-with-img__text-box
                h3.small-title Гарантия качества
                p.text
                  | Мы даём гарантию на все изделия и работы, выполненные
                  | нашими специалистами.

  section.J
    .container
      .about__inner
        .about__content-container
          h2.title О компании в цифрах
          .about__content-items
            .about__content-part
              .about__content-item
                h1.big-title.text--one-highlight 11
                p.text Магазинов продают нашу продукцию
              .about__content-item
                h1.big-title.text--one-highlight 1886
                p.text Выполненных объектов
            .about__content-part
              .about__content-item
                h1.big-title.text--one-highlight 18
                p.text Лет опыта работы на рынке с гарантией качества
              .about__content-item
                h1.big-title.text--one-highlight 90%
                p.text рекомендуют и обращаются к нам повторно
        .about__img-container
          //todo: картинка для раздела о компании

  section.request
    .container
      .request__inner
        .request__header
          h2.title.request__title Оставьте заявку
          h4.very-small-title.request__small-title или свяжитесь с нами в социальных сетях

        +social_media(socialList, "social-media-menu__img--request-style")

        .request__questions-container
          ul.request__questions-part
            li.request__questions-item Какой дымоход лучше выбрать?
            li.request__questions-item Сколько стоит монтаж дымохода?
            li.request__questions-item Из какой стали выбрать дымоход?
          ul.request__questions-part
            li.request__questions-item Занимаетесь обслуживанием дымоходов?
            li.request__questions-item Сколько стоит выезд инженера на замер?
            li.request__questions-item Сколько стоит выезд инженера на замер?

        +form_order("С Вами свяжутся в ближайшее время")

  section.video
    .container
      .video__inner
        h2.title Видео
        p2.text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          | sed do eiusmod tempor incididunt ut labore et dolore magna
          | aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          | ullamco laboris nisi ut aliquip ex ea commodo consequat.
          | Duis aute irure dolor in reprehenderit in voluptate velit
          | esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          | occaecat cupidatat non proident, sunt in culpa qui officia
          | deserunt mollit anim id est laborum.
        .video__container
          iframe(src="https://www.youtube.com/watch?v=Nxg6UfofZX0")

  section.causes
    .container
      .causes__inner
        h2.title Причины приобрести нашу продукцию
        .couses__content-container
          ol.causes__item
            li.causes__item-text
              | Мы предоставляем полный комплекс услуг включающий
              | консультацию и поддержку на всех этапах сотрудничества,
              | от покупки до установки. Дальнейшую очистку дымоходов.
            li.causes__item-text
              | Точное выполнение договорённости, сроков, стоимости и
              | качеству произведенного монтажа, наличие всех необходимых
              | сертификатов и технических документов.
            li.causes__item-text
              | Гарантия на выполненные работы:
              | #[strong 3 года] на гидроизоляцию кровельных элементов
              | #[strong 5 лет] на сквозную коррозию внутренней и наружной трубы
              | #[strong 10 лет] на крепёж, стыковку элементов и «вертикальность»
          .causes__img-container

  section.without-money
    .container
      .without-money__inner
        .without-money__content-container
          h2.title Купите любую продукцию
            span.title.text--price-highlight без денег
          p.text Теперь возможна оплата в кредит или в рассрочку 0%.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          input.button.button--main-color(value= "купить в кредит")
        .without-money__img-container
          //todo: картинка для раздела замер

  section.reviews
    .container
      .reviews__inner
        .reviews__header
          h2.title Отзывы наших клиентов
          p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          +arrows("arrowsReviews")

        //reviews_list определен в index-var
        .reviews__slider
          each review in reviews_list
            //todo: слайдер не дублируется - отдельный компонент (не миксин)
            .reviews__slide-container
              p.text.text--small= review.comments
              .reviews__photo-box
                img.image-circle(src= review.src)
                .reviews__text-box
                  p.text.reviews__text-name= review.name
                  p.text.reviews__text-date= review.date







