mixin product_slider(product, addClass)
  .product-slider(class= addClass)
    .product-slider__wrapper
      .product-slider__img-box
        a.product-slider__img-link(href= product.href)
          img.product-slider__img(src= product.src)
        .icon-line.icon-line--one.product-slider__icon-line
          button.icon-line__button.icon-line__button--dark(type="button")
            .icon.icon-line__button-img.icon-line__button-img--shopping.icon-line__button-img--light
      .product-slider__content-box
        a.product-slider__content-title(href= product.href)= product.name
        a.product-slider__content-description(href= product.href)= product.description
        .price-container.product-slider__content-price
          p.price-container__price-new.product-slider__price-new= product.costNew
          p.price-container__price-old.product-slider__price-old= product.costOld

mixin slider_img(images, addClass, fancybox)
  .swiper.slider-img(class="slider-img--" + addClass + " js__slider-img--" + addClass)
    if (fancybox)
      p.slider-img__text(class="js__slider-count--"+addClass) 3 / 7
      button.slider-img__zoom-button.js__slider-img-zoom(type="button")
        +svg("slider-img__zoom-icon", "assets/images/sprite.svg#zoom")
    .swiper-wrapper
      each image in images
        .swiper-slide.slider-img__slide(class="slider-img__slide--" + addClass)
          a.slider-img__slide-wrapper(class="slider-img__slide-wrapper--" + addClass href=image data-fancybox=(fancybox ? "gallery-product" : ""))
            img.slider-img__img(class="slider-img__img--" + addClass src=image)
